<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>Directions Widget</title>
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/dijit/themes/claro/claro.css">
    <link rel="stylesheet" href="https://js.arcgis.com/3.16/esri/css/esri.css">
    <style>
      html, body, #map {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
      }
      body {
        background-color:#FFF;
        overflow:hidden;
        font-family:"Trebuchet MS";
      }
    </style>

    <script src="https://js.arcgis.com/3.16/"></script>
    <script>
      require([
        "esri/urlUtils", "esri/map", "esri/dijit/Directions",
        "dojo/parser",
        "dijit/layout/BorderContainer", "dijit/layout/ContentPane", "dojo/domReady!"
      ], function(
        urlUtils, Map, Directions,
        parser
      ) {
        parser.parse();
        //all requests to route.arcgis.com will proxy to the proxyUrl defined in this object.
 /*       urlUtils.addProxyRule({
          urlPrefix: "route.arcgis.com",
          proxyUrl: "/sproxy/"
        });
        urlUtils.addProxyRule({
          urlPrefix: "traffic.arcgis.com",
          proxyUrl: "/sproxy/"
        });*/
        var map = new Map("map", {
          basemap: "streets",
          center:[-122.4067,37.782],
          zoom: 15
        });

        //default will point to ArcGIS world routing service
        var directions = new Directions({
          routeTaskUrl: "http://utility.arcgis.com/usrsvcs/appservices/1sIyK8gLHyDT0d3G/rest/services/World/Route/NAServer/Route_World",
          printTaskUrl: "http://utility.arcgis.com/usrsvcs/appservices/1sIyK8gLHyDT0d3G/rest/services/World/Route/NAServer/Route_World",
          map: map
        },"dir");
        directions.startup();
      });
    </script>
  </head>

  <body class="claro">
    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="design:'headline', gutters:false"
         style="width:100%;height:100%;">
    <div class="w3-container w3-red" style="position:absolute;z-index:1000;align-self:right;right:0%;bottom:-1%;align-self:bottom">
    <ul style="list-style-type:none;background:red;text-align:center;font-size:4">
    <li> Anomalous Trips </li>
    <li> [x coord source, y coord source, <br>
    x coord dest, y coord dest]</li>
    <li>[-122.4067, 37.7913628315, -122.407, 37.782] </li>
    <li>[-122.4067, 37.7907518026, -122.407, 37.782]</li>
    <li>[-122.4067, 37.7935316585, -122.407, 37.782]</li>
    <li>[-122.4067, 37.7999006787, -122.407, 37.782]</li>
    <li>[-122.4067, 37.7956752916, -122.407, 37.782]</li>
    <li>[-122.4067, 37.7974106125, -122.407, 37.782]</li>
    <li>[-122.4067, 37.7832161244, -122.407, 37.782]</li>
    <li>[-122.4067, 37.7962198181, -122.407, 37.782]</li>
    <li>[-122.4067, 37.7868683895, -122.407, 37.782]</li>
    </ul>

    </div>
      <div data-dojo-type="dijit/layout/ContentPane"
           data-dojo-props="region:'right'"
           style="width:250px;">

        <div id="dir"></div>
      </div>
      <div id="map"
           data-dojo-type="dijit/layout/ContentPane"
           data-dojo-props="region:'center'">
      </div>
    </div>
  </body>
</html>
